<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <listener>
  	<listener-class>eu.fbk.ict.ehealth.virtualcoach.HeLiSStarter</listener-class>
  </listener>
  <servlet>
  	<servlet-name>GetFoodList</servlet-name>
  	<display-name>GetFoodList</display-name>
  	<description></description>
  	<servlet-class>eu.fbk.ict.ehealth.virtualcoach.helis.servlet.GetFoodList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetNutrientList</servlet-name>
  	<display-name>GetNutrientList</display-name>
  	<description></description>
  	<servlet-class>eu.fbk.ict.ehealth.virtualcoach.helis.servlet.GetNutrientList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetFoodCategoryList</servlet-name>
  	<display-name>GetFoodCategoryList</display-name>
  	<description></description>
  	<servlet-class>eu.fbk.ict.ehealth.virtualcoach.helis.servlet.GetFoodCategoryList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FoodDetail</servlet-name>
  	<display-name>FoodDetail</display-name>
  	<description></description>
  	<servlet-class>eu.fbk.ict.ehealth.virtualcoach.helis.servlet.FoodDetail</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ActivityDetail</servlet-name>
  	<display-name>ActivityDetail</display-name>
  	<description></description>
  	<servlet-class>eu.fbk.ict.ehealth.virtualcoach.helis.servlet.ActivityDetail</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MealManager</servlet-name>
  	<display-name>MealManager</display-name>
  	<description></description>
  	<servlet-class>eu.fbk.ict.ehealth.virtualcoach.helis.servlet.MealManager</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ActivityManager</servlet-name>
  	<display-name>ActivityManager</display-name>
  	<description></description>
  	<servlet-class>eu.fbk.ict.ehealth.virtualcoach.helis.servlet.ActivityManager</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Reasoner</servlet-name>
  	<display-name>Reasoner</display-name>
  	<description></description>
  	<servlet-class>eu.fbk.ict.ehealth.virtualcoach.reasoner.Reasoner</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViolationManager</servlet-name>
  	<display-name>ViolationManager</display-name>
  	<description></description>
  	<servlet-class>eu.fbk.ict.ehealth.virtualcoach.helis.servlet.ViolationManager</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PrescriptiveChecker</servlet-name>
  	<display-name>PrescriptiveChecker</display-name>
  	<description></description>
  	<servlet-class>eu.fbk.ict.ehealth.virtualcoach.helis.servlet.PrescriptiveChecker</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletManager</servlet-name>
  	<display-name>ServletManager</display-name>
  	<description></description>
  	<servlet-class>eu.fbk.ict.ehealth.virtualcoach.helis.servlet.ServletManager</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetFoodList</servlet-name>
  	<url-pattern>/GetFoodList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetNutrientList</servlet-name>
  	<url-pattern>/GetNutrientList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetFoodCategoryList</servlet-name>
  	<url-pattern>/GetFoodCategoryList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FoodDetail</servlet-name>
  	<url-pattern>/FoodDetail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ActivityDetail</servlet-name>
  	<url-pattern>/ActivityDetail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MealManager</servlet-name>
  	<url-pattern>/MealManager</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>ActivityManager</servlet-name>
  	<url-pattern>/ActivityManager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Reasoner</servlet-name>
  	<url-pattern>/Reasoner</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViolationManager</servlet-name>
  	<url-pattern>/ViolationManager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PrescriptiveChecker</servlet-name>
  	<url-pattern>/PrescriptiveChecker</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletManager</servlet-name>
  	<url-pattern>/ServletManager</url-pattern>
  </servlet-mapping>
</web-app>
